body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../Images/1_8.png);

}

a{
    text-decoration: none;
    color: mintcream;
}
.sign-up
{
    width: 300px;
    box-shadow: 0 0 9px 0 rgba(197, 179, 179, 0.3);
    background:#999;
    padding: 20px;
    transform: translateY(50%);
    margin: 8px auto 0;
    text-align:center;
    font-style: italic;
    color: green;
}
.sign-up h1{
    color: blueviolet;
    margin-bottom: 30px;

}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 250px;
    border: 1px solid #999;
    outline: none;
}
button
{
    color: #fff;
    width: 50px;
    border-radius: 20px;
    font-size: 10px;
    margin: 13px 0;
    outline:none;
    border: 0px;
    cursor: pointer;
}
.sign-btn
{
    width: 110px;
    height: 30px;
    background:grey;
}


