*{
    margin: 0;
    padding: 0;
}
.head{
    color: green;
    background: linear-gradient(to right,lightgreen,white);
}
.banner{
    width: 100%;
    height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url(pictures\Newfolder\background.jpg);
background-size: cover;
background-position: center;

}

.navBar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;

}
.navBar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navBar ul li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;

}
.navBar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: red;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.003s;
}
.navBar ul li:hover::after{
width: 100%;

}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
}
.title{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content p
{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: sans-serif;
}
.slider{
    color: green;
    margin-left: 20px;
    box-sizing: border-box;
    animation: slider 5s linear infinite;
}
@keyframes slider {
    0%{margin-top: -400px;}
    5%{margin-top: -200px;}
    30%{margin-top: -200px;}
    35%{margin-top: 0px;}
    65%{margin-top: 0px;}
    70%{margin-top: 200px;}
    100%{margin-top: 200px;}
}
@media (max-width:600px) {
    .content {
        width:100%;
        height: 50%;
        font-size: 10px;
        
    }
    .title{
        font-size: 20px;
    }
    
}



.mission{
 text-align: center;
 position: relative;
 font-size: large;
 font-family: cursive;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.first-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    border: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.4s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;


}
.first-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.2);
}

.area{
    text-align: center;
    position: relative;
    display: flex;
}
.col{
    background-color: gray;
    border: 10px;
    box-sizing: border-box;
    padding: 20px 12px;
    flex-basis: 40%;


}

/*------ our services page -------*/

.main-services{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pictures\Newfolder\background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.main-services h1{
    margin-top: 100px;
    color: violet;
    font-style: italic;

}
.main-services ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.main-services ul li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}
.main-services ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: red;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.main-services ul li:hover::after{
    width: 100%;
}

.our-services{
    width: 89%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}
.ser-col{
    flex-basis: 50%;
    padding: 30px 2px;
}
.ser-col img{
    width: 50%;
    height: 50vh;
    padding-top: 0;
    padding-bottom: 50px;

}

.ser-col h1{
    padding-top: 0;
    color: green;
    font-size:larger;
    font-style: oblique;
}
.ser-col p{
    padding: 50px 0 25px;
}


/*------ about -----*/

.about{
    height: 50vh;
    width: 100%;
 
 background: linear-gradient(rgba(3,5,12,0.78),rgba(3,5,12,0.78)),url(pictures\Newfolder\1-1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:lightblue
}
.first1-col h4{
    font-style: italic;
    
   
}
        
    


.about-col h1{
    font-size: xx-large;
    font-weight: 700;
    color: green;
}

    /*------- contact------*/
.body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pictures\Newfolder\1-1.jpg);
    font-size: 14px;
}
.containers{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: white;
    display: flex;
}

.contact-right{
    flex-basis: 50%;
    padding: 40px;
    box-shadow: 10px 0 40px 6px rgba(8, 56, 56, 0.3);
    color: white;
    border-radius: 40px;
    
    background: transparent;
}
h1{
    margin-bottom: 10px;
    font-style: oblique;
}
p{
    margin-bottom: 20px;
}

.containers ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.containers ul li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}
.containers ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: red;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.containers ul li:hover::after{
    width: 100%;
}

tr td:first-child{
    padding-right: 50px;
}
tr td{
    padding-top: 30px;
}

/*------- footer---*/
footer{
    width: 90%;
    height: 10vh;
    position: absolute;
    bottom: 0%;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: azure;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 0.8px;
}
.row1{
    width: 85%;
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
.cols{
    flex-basis: 25%;
    padding: 6px;

}
.cols h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.cols h2{
color: green;
font-style: italic;

}
.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: white;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background:white;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}




